[submodule "lib/source_engine/inbuilt_sources"]
	path = lib/source_engine/inbuilt_sources
	url = https://github.com/roshancodespace/shonenx-sources.git
[submodule "packages/anymex_extension_bridge"]
	path = packages/anymex_extension_bridge
	url = https://github.com/roshancodespace/AnymeXExtensionRuntimeBridge
[submodule "packages/commentum_client"]
	path = packages/commentum_client
	url = https://github.com/commentum/commentum_client
